<div class="container">
  <div class="row">
    
    <div class= "col-lg-6 col-lg-offset-3">
      <div class="well bs-component">
        <%= form_for(@user , html: { class: "form-horizontal" } ) do |f| %>

        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
            
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <fieldset>
          <legend>Profile</legend>

          <div class="form-group">
            <label for="first_name" class="col-lg-2 control-label">First Name</label>

            <div class="col-lg-10">
              <%= f.text_field :first_name, class: 'form-control' , placeholder: 'First Name' , autofocus: true %>
            </div>
          </div>

          <div class="form-group">
            <label for="last_name" class="col-lg-2 control-label">Last Name</label>

            <div class="col-lg-10">
              <%= f.text_field :last_name, class: 'form-control' , placeholder: 'Last Name' , autofocus: true %>
            </div>
          </div>

          <div class="form-group">
            <label for="tel" class="col-lg-2 control-label">Telephone</label>

            <div class="col-lg-10">
              <%= f.text_field :tel, class: 'form-control' , placeholder: 'Telephone' , autofocus: true %>
            </div>
          </div>

          <div class="form-group">
            <label for="mobile" class="col-lg-2 control-label">Mobile</label>

            <div class="col-lg-10">
              <%= f.text_field :mobile, class: 'form-control' , placeholder: 'Mobile' , autofocus: true %>
            </div>
          </div>

          <div class="form-group">
            <label for="address" class="col-lg-2 control-label">Address</label>

            <div class="col-lg-10">
              <%= f.text_field :address, class: 'form-control' , placeholder: 'Address' , autofocus: true %>
            </div>
          </div>

          <div class="form-group">
            <label for="contact_email" class="col-lg-2 control-label">Contact Email</label>

            <div class="col-lg-10">
              <%= f.email_field :contact_email, class: 'form-control' , placeholder: 'Contact Email' , autofocus: true %>
            </div>
          </div>

          <div class="form-group">
            <label for="photo" class="col-lg-2 control-label">Photo</label>

            <div class="col-lg-6">
                <%= f.file_field :photo, class: "filestyle", "data-size" => "sm" %>
            </div>
            
            <div class="col-lg-4">
              <%= image_tag f.object.photo.url(:thumb) %>
            </div>

          </div>

          <div class="form-group">
            <label for="facebook" class="col-lg-2 control-label">Facebook</label>

            <div class="col-lg-10">
              <%= f.text_field :facebook, class: 'form-control' , placeholder: 'Facebook' , autofocus: true %>
            </div>
          </div>

          <div class="form-group">
            <label for="twitter" class="col-lg-2 control-label">Twitter</label>

            <div class="col-lg-10">
              <%= f.text_field :twitter, class: 'form-control' , placeholder: 'Twitter' , autofocus: true %>
            </div>
          </div>

          <div class="form-group">
            <label for="instagram" class="col-lg-2 control-label">Instagram</label>

            <div class="col-lg-10">
              <%= f.text_field :instagram, class: 'form-control' , placeholder: 'instagram' , autofocus: true %>
            </div>
          </div>

   
          <div class="form-group">

            <div class="col-lg-1 col-lg-offset-4">
              <%= f.submit "Update", class: "btn btn-success" %>  
            </div>

            <div class="col-lg-5 col-lg-offset-2">
              <%= button_to "Cancel", users_path , class: "btn btn-danger" %>
            </div>

          </div>
        </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>