<h1>Listing users</h1>

<table border='1'>
  <thead>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Tel</th>
      <th>Mobile</th>
      <th>Address</th>
      <th>Contact email</th>
      <th>Facebook</th>
      <th>Twitter</th>
      <th>Instagram</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id , user_path(user) %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.tel %></td>
        <td><%= user.mobile %></td>
        <td><%= user.address %></td>
        <td><%= user.contact_email %></td>
        <td><%= user.facebook %></td>
        <td><%= user.twitter %></td>
        <td><%= user.instagram %></td>
        <td><%= user.photo %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
