<br/>
<div class="container">

<div class="well bs-component">
  
  <div class="form-group">
    <div>
      <%= image_tag @user.photo.url(:thumb) %>
    </div>
  </div>

  <!--=================== First Row =====================-->
  <div class="form-group">
    <div class="col-lg-4">
       <label for="first_name" class="control-label">First Name :</label>
       <label class="control-label"><%= @user.first_name %></label>
    </div>

    <div class="col-lg-4">
       <label for="last_name" class="control-label">Last Name :</label>
       <label class="control-label"><%= @user.last_name %></label>
    </div>

    <div class="col-lg-4">
       <label for="tel" class="control-label">Tel :</label>
       <label class="control-label"><%= @user.tel %></label>
    </div>
  </div>
  <br/>
  <!--=================== First Row =====================-->

  <!--=================== Second Row =====================-->
  <div class="form-group">
    <div class="col-lg-4">
       <label for="mobile" class="control-label">Mobile :</label>
       <label class="control-label"><%= @user.mobile %></label>
    </div>

    <div class="col-lg-4">
       <label for="address" class="control-label">Address :</label>
       <label class="control-label"><%= @user.address %></label>
    </div>

    <div class="col-lg-4">
       <label for="contact_email" class="control-label">Contact Email :</label>
       <label class="control-label"><%= @user.contact_email %></label>
    </div>
  </div>
  <br/>
  <!--=================== Second Row =====================-->

  <!--=================== Third Row =====================-->
  <div class="form-group">
    <div class="col-lg-4">
       <label for="facebook" class="control-label">Facebook :</label>
       <label class="control-label"><%= @user.facebook %></label>
    </div>

    <div class="col-lg-4">
       <label for="twitter" class="control-label">Twitter :</label>
       <label class="control-label"><%= @user.twitter %></label>
    </div>

    <div class="col-lg-4">
       <label for="instagram" class="control-label">Instagram :</label>
       <label class="control-label"><%= @user.instagram %></label>
    </div>
  </div>
  <br/>

  <div class="form-group">
    <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-success" %>
    <%= link_to 'Back', root_path, class: "btn btn-danger" %>
  </div>
  <!--=================== Third Row =====================-->
</div>
</div>
