<br/>
<div class="container">
  <div class="row">
    <div class= "col-lg-9 col-lg-offset-2">
      <div class="well bs-component ">

          <legend>Asset</legend>

          <div class= "form-horizontal" >

          <div class="form-group">
              <label for="category_id" class="col-lg-2 control-label">Category</label>
              
              <div class="col-lg-6">
                <%= category %>
              </div>
          </div>

          <div class="form-group">
              <label for="sub_category_id" class="col-lg-2 control-label">Sub Category</label>
              
              <div class="col-lg-6">
                      <%= sub_category %>
              </div>
          </div>

          <div class="form-group">
              <label class="col-lg-2 control-label">Descriptors</label>
              
              <div class="col-lg-10">
                <ul>
                  <% descriptors.each do | descriptor | %>
                    <li> <%= descriptor %> </li>
                  <% end %>
                </ul>
              </div>
          </div>

          <div class="form-group">
              <label class="col-lg-2 control-label">Tags</label>
              
              <div class="col-lg-6">
                    <%= tags %>
              </div>
          </div>

          <div class="form-group ">
              <div class="col-lg-5 col-lg-offset-3 ">
                  <ul class="bxslider">
                    <% @asset.photos.each do | photo | %>
                      <li> <%= image_tag photo.photo.url(:medium), :alt => '' %> </li>
                    <% end %>
                  </ul>
              </div>
          </div>

        </div>
        
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>

<%= javascript_include_tag('asset_form.js') %>
