<%= form_for(@offer , :url => choose_assets_offer_path(@offer) , :method => :POST ) do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% @offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
   
    <thead>
      <tr>
        <th>Give</th>
        <th>Receive</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <%= render 'assets' , :f => f , :assets => @offer.from_assets , :att_name => "choosed_assets" %>
        </td>

        <td>
          <%= render 'assets' , :f => f , :assets => @offer.to_assets , :att_name => "choosed_assets" %>
        </td>
      </tr>
    </tbody>

  <table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>