<%= form_for(@offer) do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% @offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
<div class="field">
    <%= f.label :to_id %><br>
    <%= f.select :to_id , options_for_select(@users) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>