<% user_text = ( origin == 'received_offers' ? 'From' : 'To' ) %>

<div class="container">
  <table class="table table-striped">
  
  <thead>
    <tr>
      <th>ID</th>
      <th> <%= user_text %> </th>
      <th>Status</th>
      <th>Creation Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  </tbody>
    <% @offers.each do |offer| 
    	user_name = ( origin == 'received_offers' ? offer.from.full_name : offer.to.full_name )
    	show_link = ( origin == 'received_offers' ? show_received_offer_path(offer) : offer_path(offer) )
    %>
      <tr>
        <td><%= offer.id %></td>
        <td><%= user_name %></td>
        <td><%= offer.state %></td>
        <td><%= offer.created_at %></td>

        <td> <%= link_to icon("show"), show_link %> </td>
        <td> <%= link_to icon("edit"), edit_offer_path(offer, origin: origin ) %> </td>
    
        <% if origin == 'my_offers' %>
          <td><%= link_to icon("remove"), offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>

  </table>
</div>