<p id="notice"><%= notice %></p>
<table>
 <thead>
    <tr>
      <th>Give</th>
      <th>Receive</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <table>
          <% @offer.received_assets.each do |asset| %>
          <tr>
    		  	<td><%= render_asset_info(asset) %></td>
    		  </tr>
          <% end %>
        </table>
      </td>

      <td>
        <table>
          <% @offer.given_assets.each do |asset| %>
          <tr>
            <td><%= render_asset_info(asset) %></td>
          </tr>
          <% end %>
        </table>
      </td>

    </tr>
  </tbody>
</table>

<%= form_for(@offer , :url => accept_offer_path(@offer) , :method => :PUT ) do |f| %>
  <%= f.submit 'Accept'%>
<% end %>

<%= form_for(@offer , :url => reject_offer_path(@offer) , :method => :PUT ) do |f| %>
  <%= f.submit 'Reject'%>
<% end %>